<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascript/prismata_replays.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title><%= title %></title>
  </head>
