<!DOCTYPE html>
<html lang="en" ng-app="prismata-replays">
  <% var title = "Prismata Replays : About" %> <%- include header.ejs %>
  <body>
    <h1><%= title %></h1>
    <navigation-bar></navigation-bar>
    <p>This is a project that I am working on in my spare time to teach myself web development.</p>
    <p>Here is the <a href="https://github.com/djmclaugh/prismata-replay-store" target="blank">Github page</a> for this project. Please use it to file any bug or feature requests.</p>
    <p>You can also contact me directly if you have any questions or would like to help out. You can find my contact information on my Github account.</p>
  </body>
</html>
