<!DOCTYPE html>
<html lang="en">
  <% var title = "Prismata Replays : About" %> <%- include partials/header.ejs %>
  <body>
    <h1><%= title %></h1>
    <%- include partials/navigation_bar.ejs %>
    <p>Here is the <a href="https://github.com/djmclaugh/prismata-replay-store">Github page</a> for this project. Please use my Github contact information if you have any comments or suggestiongs.</p>
    <%- include partials/errors.ejs %>
  </body>
</html>
