<!DOCTYPE html>
<html lang="en" ng-app="prismata-replays">
  <% var title = "Prismata Replays : About" %> <%- include header.ejs %>
  <body>
    <h1><%= title %></h1>
    <navigation-bar></navigation-bar>
    <p>Here is the <a href="https://github.com/djmclaugh/prismata-replay-store" target="blank">Github page</a> for this project. Please use my Github contact information if you have any comments, suggestions, or questions.</p>
  </body>
</html>
