<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js'></script>
    <script src="/app/app.js"></script>
    <script src="/app/controllers.js"></script>
    <script src="/app/directives.js"></script>
    <script src="/app/filters.js"></script>
    <script src="/app/services.js"></script>
    <title><%= title %></title>
  </head>
