<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>Primsata Replay Store</title>
  </head>

  <body>
    <h1>Prismata Replay Store</h1>
    <% for (i = 0; i < replays.length; ++i) { var replay = replays[i]; %> 
    <%- include replay.ejs %>    <br><% } %>
    <% if (error) { %> <%= error %> <% } %>
  </body>
</html>

