<!DOCTYPE html>
<html lang="en" ng-app="prismata-replays">
  <%var title = "Prismata Replays : Search" %><%- include partials/header.ejs %>
  <body>
    <navigation-bar></navigation-bar>
    <h1><%= title %></h1>
    <search-form></search-form>
    <br>
    <search-replays></search-replays>
  </body>
</html>
